.header {
  height: 9rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 4.8rem;
}

.nav ul {
  list-style: none;

  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
}

.nav ul li {
  font-size: 2rem;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #333;
  font-weight: 700;
}

.link:hover,
.link:active {
  color: #2e8bd8;
}
