.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.clubs {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.club {
  background-color: #ddd;
  padding: 3.2rem;
  border-radius: 9px;

  display: flex;
  justify-content: space-between;
}

.club-desc {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-self: center;
}

.club-name {
  font-size: 3.2rem;
  font-weight: 600;
  color: #000;
}

.club-email {
  font-size: 2rem;
  font-style: italic;
  color: #555;
}

.btn {
  align-self: center;
}

.btns {
  display: flex;
  gap: 2rem;
}

.function {
  margin-top: 8rem;
}
