.container {
  padding: 3.2rem 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.order {
  background-color: #ddd;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  display: flex;
  justify-content: space-between;
}

.desc p {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}

.desc span {
  font-size: 1.6rem;
  font-weight: 500;
  font-style: italic;
}

.price p {
  font-size: 2rem;
  color: #000;
  font-weight: 700;
}

.total {
  margin-top: 4.8rem;
  background-color: rgba(2, 236, 253, 0.805);
  border-radius: 9px;
  text-transform: uppercase;
  letter-spacing: -0.5px;

  padding: 1.6rem;
  font-size: 3.2rem;
  color: #000;
  font-weight: 700;

  display: flex;
  justify-content: space-between;
}
