* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* GENERAL STYLES */

.container {
  max-width: 120rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
}

.heading-primary {
  /* color: #fff; */
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  letter-spacing: 1.5px;

  font-size: 7.4rem;
  line-height: 1.1;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;

  font-size: 4.4rem;
  line-height: 1.2;
  /* margin-bottom: 2.4rem; */
}

.heading-tertiary {
  color: #2e8bd8;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: uppercase;

  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  color: #2e8bd8;
  letter-spacing: 1px;
  /* margin-left: 0.5rem; */
  margin-bottom: 1.2rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

/* FORM GENERAL STYLES */

.form-box {
  padding: 3.2rem;
  /* height: 100vh; */
}

.form {
  margin-top: 3.2rem;
}

/* REUSABLE */

.center-text {
  text-align: center;
}

.margin-right {
  margin-right: 3.2rem;
}

.margin-left {
  margin-left: 3.2rem;
}

.border-bottom {
  padding-bottom: 3.2rem;
  border-bottom: 1px solid #ddd;
}

.border-right {
  padding-right: 3.2rem;
  border-right: 2px solid #ddd;
}
